.list-page__search {
  background: #111;
  color: white;
  border-bottom: 2px solid white;
  padding: 0 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.list-page__search input {
  display: block;
  flex: 1;
  padding: 0.5rem 1rem;
  color: #111;
  border: 2px solid #111;
  border-radius: 0.5rem;
}

.list-page__search p,
.list-page__search label {
  font-size: 1.2rem;
}

.list-page__search a,
.list-page__search a:link,
.list-page__search a:visited,
.list-page__search a:hover,
.list-page__search a:active {
  color: white;
}

.list-page__search-example {
  text-align: right;
  opacity: 0.6;
  padding-top: 0.5rem;
}
