h1 {
  font-size: 2.5rem;
  color: white;
  padding-bottom: 2rem;
}

.container {
  font-size: 1.6rem;
}

.content__container {
  max-width: 800px;
  margin: 5rem auto 15rem;
}

.page-tabs {
  padding-bottom: 2rem;
}

.page-tabs ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.page-tabs li {
  flex: 1;
  font-weight: bold;
  background: #111;
  color: white;
  border: 2px solid white;
}

.page-tabs a {
  text-decoration: none;
  display: block;
  padding: 1.5rem 1rem;
}

.page-tabs a.active {
  color: #111;
  background: white;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: white;
}
